#home {
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#name {
  font-size: 4.4rem;
}
#animation {
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  #name {
    font-size: 2.2rem;
  }

  #animation {
    font-size: 1.2rem;
  }
}